{% extends 'base.html' %} {% block content %} {% load static %}
<main>
  <section>
    <h1>🍪Bienvenidos a SouChoco🍪</h1>
    <p>
      En nuestro emprendimiento, nos dedicamos a crear delicias caseras. Cada uno de nuestros
      productos, desde las crujientes galletas hasta los irresistibles budines y las deliciosas
      tartas, está hecho con amor y dedicación. Aquí, creemos que los momentos más dulces se
      comparten en casa. Por eso, utilizamos recetas tradicionales y los mejores ingredientes para
      asegurarnos de que cada bocado sea una experiencia inolvidable. Ya sea que busques un regalo
      especial, un postre para una ocasión importante, o simplemente quieras darte un gusto,
      SouChoco tiene algo para ti. Descubre nuestros productos y deja que SouChoco endulce tu día.
    </p>
  </section>
</main>
{% endblock %}
